1. Given below are a list of positive and negative words. Also a list of
comments is provided. Segregate the comments based on positive and
negative sentiments.
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful']
comments = ['He is a good boy',
'Food is the worst here',
'He is an awesome player',
'She is the best',
'This pizza tastes awful',
'These burger are really nice']

In [21]:
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful'] 
comments = ['He is a good boy', 
            'Food is the worst here', 
            'He is an awesome player', 
            'She is the best', 
            'This pizza tastes awful',
            'These burger are really nice']
for comment in comments:
    pos=set(positive).intersection(set(comment.split(' ')))
    neg=set(negative).intersection(set(comment.split(' ')))
    print(comment,".","positive"if len(pos)>0 else "negative")

He is a good boy . positive
Food is the worst here . negative
He is an awesome player . positive
She is the best . positive
This pizza tastes awful . negative
These burger are really nice . positive

2. Create a dictionary containing three lambda functions square, cube
and square root.
E.g. dict = {'Square': function for squaring, 'Cube': function for cube,
'Squareroot': function for square root}
Pass the values (input from the user)to the functions in the dictionary
respectively. Then add the outputs of each function and print it.

In [26]:
value=float(input('enter a number'))

def square(a):
    square=lambda a:a*2
    print('square value is=',a)
    print(a*a)

def cube(a):
    cube=lambda a:a*3
    print('cube value is =',a)
    print(a*a*a)

def squareroot(a):
    squareroot=lambda a:a**(1/2)
    print('square root value is=',a)
    print(a**(1/2))
square(value)
cube(value)
squareroot(value)

enter a number8
square value is= 8.0
64.0
cube value is = 8.0
512.0
square root value is= 8.0
2.8284271247461903

3. Find the fruits that are sour in taste from the tuple given below.
fruits = (('Lemon','sour'),
('DragonFruit', 'Sweet'),
('Grapes','soUr'),
('Kiwi','Sour'),
('Apples','sweet'),
('Orange','sour'),
('Blueberries','sweet'),
('Limes','Sour')
)
Output:Sour Fruits: ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [6]:
fruits=['lemon','DragonFruit','Grapes','Kiwi','grape']
for f in fruits:
    if f=='lemon':
        print('Sour fruits:[Lemon,Grapes,Kiwi,Orange,Limes]')
        break
    else:
        print('sweet fruits!')

Sour fruits:[Lemon,Grapes,Kiwi,Orange,Limes]

4. A list of words is given. Find the words from the list that have their
second character in uppercase.
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
Output: ['hOw', 'ARe']

In [10]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
mylist=[x for x in ls if x[1].isupper()]

print(mylist)

['hOw', 'ARe']

5. A dictionary of names and their weights on earth is given. Find how
much they will weigh on the moon. (Use map and lambda functions)
Formula : wMoon = (wEarth * GMoon) / GEarth
# Weight of people in kg
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
# Gravitational force on the Moon: 1.622 m/s2
GMoon = 1.622
# Gravitational force on the Earth: 9.81 m/s2
GEarth = 9.81
Output:
Weight on Moon: {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [11]:
d = {'John':45, 'Shelly':65, 'Marry':35}
calc_grav = lambda x: round((x / 9.81) * 1.622, 2)
calc = lambda k: (k,  calc_grav(d[k]))
r  = dict(calc(k) for k in d)
print(r)

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

6. Write a program to fetch the words from the given list which have their
first character in uppercase.
namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank
You']
Output: ['Maria', 'Hello', 'World', 'Merry', 'You']

In [23]:
namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']
output = []
for name in namesList:
    for element in name.split(' '):
        if element[0].isupper():
            output.append(element)
print(output)

['Maria', 'Hello', 'World', 'Merry', 'You']

7. A list containing multiple lists is given. Convert each inner list into sets
and find the intersection of all the sets.
Use reduce function.
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9,
12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
Output: {8, 3}

In [1]:
d = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9,12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
from functools import reduce
reduce(set.intersection, [set(_d) for _d in d])

{3, 8}

8. Find the cumulative average of the list [9,8,7,6,5] using accumulate()
and lambda function.Input list: [9, 5, 7, 8, 5]

In [3]:
a= [9,8,7,6,5]
import itertools as it
l=[]
l = it.accumulate(a)
print(list(l))

[9, 17, 24, 30, 35]

9. A list of words is given. Convert the words into uppercase. Use lambda
and map functions.
lsbool = ['True','FALse','tRUe','tRue','False','faLse']
Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

In [5]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse']
new_list=[x.upper()for x in lsbool]
print(new_list)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

10. A list of dates (dd-mm-yyyy)in the form of string is given below.
Create a new list that stores years i.e. the 'yyyy' part from the dates in
the given list.
datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
Output: ['1997','2011','1993','2020']

In [9]:
datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
mylist=[]
for x in datesList:
    b=x.split(sep='-')
    mylist.append(b[2])
print(mylist)

['1997', '2011', '1993', '2020']

In [7]:
name=['a','b','c','d','e','f','g','h','i']
marks=[89,56,99,99,45,21,76,90,67]

In [8]:
import pandas as pd
dict={'Name':name , 'Marks':marks}
df=pd.DataFrame(dict)

In [9]:
df.head()

  Name  Marks
0    a     89
1    b     56
2    c     99
3    d     99
4    e     45

In [17]:
name=['a','b','c','d','e','f','g','h','i']
for x in name:
    print(x)

a
b
c
d
e
f
g
h
i